* {
    background-color: antiquewhite;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: space-around; */
}

.product article {
    margin: 2rem;
}

h1 {
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
}